{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <article class="post-detail">
                <span class="story-category">{{ post.get_category_display() }}</span>
                <h1 class="mb-3">{{ post.title }}</h1>
                
                <div class="post-meta mb-4">
                    <span><i class="far fa-calendar"></i> {{ post.created_at.strftime('%d.%m.%Y') }}</span>
                </div>
                
                {% if post.image_url %}
                <div class="post-image mb-4">
                    <img src="{{ url_for('static', filename=post.image_url) }}" alt="{{ post.title }}" class="img-fluid rounded">
                </div>
                {% endif %}
                
                <div class="post-content">
                    {{ post.content|safe }}
                </div>
                
                <div class="post-footer mt-5 pt-4 border-top">
                    <a href="{{ url_for('index') }}" class="btn btn-outline-primary"><i class="fas fa-arrow-left"></i> Tüm Hikayelere Dön</a>
                </div>
            </article>
        </div>
    </div>
</div>
{% endblock %}
